@import "tailwindcss";
:root {
  --theme-1-color: #cf232a;
  --theme-1-color-contrast: white;
  --theme-2-color: #374050;
  --theme-2-color-contrast: white;
  --theme-3-color: #4b5563;
  --theme-3-color-contrast: white;
}
button {
  cursor: pointer;
}
/**/
/* THEME 1*/
/**/
.bg-theme-1 {
  background-color: var(--theme-1-color);
  color: var(--theme-1-color-contrast);
}
.text-theme-1 {
  color: var(--theme-1-color);
}
.link-theme-1{
  background-color: var(--theme-1-color);
  color:var(--theme-1-color-contrast);
}
.link-theme-1:hover,.link-theme-1:focus{
  background-color: var(--theme-2-color);
  color:var(--theme-2-color-contrast);
}
.border-theme-1 {
  border-color: var(--theme-1-color);
}
/**/
/* THEME 2*/
/**/
.bg-theme-2 {
  background-color: var(--theme-2-color);
  color: var(--theme-2-color-contrast);
}

.text-theme-2 {
  color: var(--theme-2-color);
}
.link-theme-2{
  background-color: var(--theme-2-color);
  color:var(--theme-2-color-contrast);
}
.link-theme-2:hover,.link-theme-2:focus{
  background-color: var(--theme-1-color);
  color:var(--theme-1-color-contrast);
}
.border-theme-2 {
  border-color: var(--theme-2-color);
}
/**/
/* THEME 3*/
/**/
.bg-theme-3 {
  background-color: var(--theme-3-color);
  color: var(--theme-3-color-contrast);
}

.text-theme-3 {
  color: var(--theme-3-color);
}
.link-theme-3{
  background-color: var(--theme-3-color);
  color:var(--theme-3-color-contrast);
}
.link-theme-3:hover,.link-theme-3:focus{
  background-color: var(--theme-2-color);
  color:var(--theme-2-color-contrast);
}
.border-theme-3 {
  border-color: var(--theme-3-color);
}
/**/
/* LOADERS*/
/**/
.loader-sm {
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background */
  display: flex;
  align-items: center;
  justify-content: center;
  /*z-index: 1000;*/ /* Adjust the z-index to make sure it's on top of other elements */
}
/*select {
     -webkit-appearance: listbox !important;
 }*/
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.actionStyles {
  padding: 1px;
  width: auto;
  text-align: left !important;
  font-weight: 600 !important;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  border-radius: 0.125rem; /* 2px */
}
.actionStyles:hover {
  background-color: rgb(125 211 252);
}
.iconSmall {
  height: 1rem; /* 16px */
  width: 1rem; /* 16px */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/*Ckeditor 5 styles*/
.ck-content ul,
.ck-content ol {
  padding-left: 20px !important; /* Adjust padding to ensure bullets/numbers are visible */
}
.ck-content {
  min-height: 150px !important;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar::-webkit-scrollbar {
  width: 5px;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: thin; /* Firefox */
}
