:root {
    /*default*/
  --default-color: #e5e7eb;
  --default-color-contrast: #1f2937;
  --default-hover-color: #d1d5db;
  /*primary*/
  --primary-color: #2563eb;
  --primary-color-contrast: #ffffff;
  --primary-hover-color: #1d4ed8;
  /*secondary*/
  --secondary-color: #16a34a;
  --secondary-color-contrast: #ffffff;
  --secondary-hover-color: #15803d;
    /*danger*/
  --danger-color: #dc2626;
  --danger-color-contrast: #ffffff;
  --danger-hover-color: #b91c1c;
    /*ghost*/
  --ghost-color: transparent;
  --ghost-color-contrast: #ffffff;
  --ghost-hover-color: #f3f4f6;
}
/* Base variant */
.k {
  @apply transition-colors duration-200 font-medium;
}

/* Variants */
/*default*/
.k-default {
  background-color: var(--default-color); 
  color: var(--default-color-contrast); 
}
.k-default:hover {
  background-color: var(--default-hover-color); ;
}
/*primary*/
.k-primary {
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
}
.k-primary:hover {
  background-color: var(--primary-hover-color);
}
/*secondary*/
.k-secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-color-contrast);
}
.k-secondary:hover {
  background-color: var(--secondary-hover-color);
}
/*danger*/
.k-danger {
  background-color: var(--danger-color);
  color: var(--danger-color-contrast);
}
.k-danger:hover {
  background-color: var(--danger-hover-color);
}
/*ghost*/
.k-ghost {
  background-color: var(--ghost-color);
}
.k-ghost:hover {
  background-color: var(--ghost-hover-color);
}
